<div id='test' data-available-p1="<%= @p1&.available? %>" data-available-p2="<%= @p2&.available? %>" data-available-p3="<%= @p3&.available? %>"></div>

<div id='map' style='height: 400px;'>
</div>

<h1>Measures</h1>

<% @measures.each do |measure| %>
  <p>Device: <%= measure.device %> Angle: <%= measure.angle %> Distance: <%= measure.distance %> Created At: <%= measure.created_at %> (Available: <%= measure.available? ? 'Yes' : 'No' %>)</p>
<% end %>
